<!DOCTYPE html>
<html>
  <head>
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>[[title]]</title>
    <link type="text/css" rel="stylesheet" media="all" href="/themes/main/.css/style.css" />
  </head>
  <body>
    <div id='header'>
      <a href='/'>
        <img id='logo' alt='logo' src='/themes/main/.img/logo1.gif' />
        <h1 id='main_title'>[[title]]</h1>
      </a>
      [[primarydocs]]
    </div>
    <div id='maincontent'>
      <div id='left'>
        <div id='auth' class='center'>
          [[lkauth]]
          [[lkauth/link]]
        </div>
        <div id='gamelist'>
          [[event/list]]
        </div>
      </div>
      <div id='right'>
        [[helpdesk]]
      </div>
      <div id='center'>
        [[notifies]]
        [[content]]
      </div>
    </div>
  </body>
</html>
